*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

body{
  width: 100%;
  height: 100%;
  /* Add your background pattern here */
  background-color: #ffffff;
  background-image: radial-gradient(rgba(12, 12, 12, 0.171) 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px;
}


/* Header */
.header{  
  box-shadow: rgba(100, 100, 111, 0.2) 0px 3px 2px 0px;
  width:45%;
  margin:0 auto;
  margin-top:20px;
  padding:15px;
  background-color: white;
  border-radius:10px;
  margin-bottom:40px;
}

.header > nav > ul{
  display:flex;
  justify-content: space-between;
}

.header > nav > ul > li{
  list-style:none;
}

.header > nav > ul > li > .registro > a{
  color:black;
  text-decoration: none;
}

.header .registro{
  display:flex;
  justify-content: center;
  gap:15px;
}

/* Main */

.main{
  width:45%;
  height:600px;
  padding:6px;
  margin:0 auto;
  background-color: white;
  border-radius:10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


/* Login - component */
.login-header{
  display:flex;
  justify-content: center;
}

.login-header h1{
  margin-top:20px;
  font-size: 32px;
}

.formulario{
  display:flex;
  flex-direction: column;
  justify-content: center;
  width:50%;
  height:400px;
  margin:0 auto;
}

.input {
  margin:0 auto;
  margin-top: 1rem;
  border-radius: 10px;
  outline: 2px solid #00a6fb;
  border: 0;
  background-color: #d6f1ff;
  outline-offset: 3px;
  padding: 10px 12.5px;
  transition: all 0.2s ease;
  width: 250px;
  margin-bottom:10px;
}

.input:hover {
  background-color: #fff;
}

.input:focus {
  outline-offset: -6px;
  background-color: #d6f1ff;
}

.btnLogin {
  font-family: monospace;
  background-color: #f3f7fe;
  color: #3b82f6;
  border: none;
  border-radius: 8px;
  width: 100px;
  height: 45px;
  transition: .3s;
  margin:0 auto;
  cursor:pointer;
}

.btnLogin:hover {
  background-color: #3b82f6;
  box-shadow: 0 0 0 5px #3b83f65f;
  color: #fff;
}

.header-usuario-autenticado{
  display:flex;
  justify-content: center;
  align-items: center;
  position:relative;

}

.header-usuario-autenticado button{
  width:30px;
  background-color: transparent;
  cursor: pointer;
  border:0;
  margin-top:15px;
}

.mostrar{
  position:absolute;
  top:40px;
  display:flex;
  flex-direction: column;
  width:100px;
  height:100px;
  border-radius:10px;
  background-color:rgb(165, 152, 152);
}

.oculto{
  display:none;
}

/* Dashboard */
.dashboard-head{
  display:flex;
  justify-content: center;
}

.card{
  width:100%;
  display:flex;
  flex-wrap: wrap;
}

.card-components{
  width:220px;
  padding:5px;
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color:#578de6;
  cursor:pointer;
  margin:2px;
  border-radius:15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-components button{
  border:0;
  padding:5px;
  border-radius:5px;
  cursor:pointer;
}

.card .number,
.card .h1{
  color:white;
  font-weight: bold;
}

.card-components:focus{
  background-color: red;
}


/* Salas*/
.cabecera{
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.cabecera__back{
  display:flex;
  align-items: center;
  cursor:pointer;
}

.chat{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.generalChat{
  display:flex;
  justify-content: space-around;
}

.vistaChat{
  width:70%;
  height:440px;
  border-radius:10px;
  background-color:rgb(202, 190, 190);
  overflow-x: hidden;
  overflow-y: scroll;
}

.usuariosConectados{
  width:28%;
  height:440px;
  border-radius:3px;
  background-color:rgb(98, 151, 182);
  border:1px solid rgb(56, 144, 202);
}

.usuariosOnP{
  display:flex;
  justify-content: center;
  font-size: 19px;
  color:white;
}

.chat > .textoChat{
  margin-top:10px;
  display:flex;
  justify-content: center;
}


/*Chat mensajes*/
.mensajesChat{
  width:99%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(175, 145, 145);
  padding:5px;
  margin:2px;
  border-radius:5px;
}

.mensajesChat .usuarioChat{
  font-size:16px;
}

.mensajesChat .usuarioChat{
  font-size:13px;
  font-weight: bold;
}

.textoChat input[type="text"]{
  width:60%;
  padding:10px;
  border:0;
  border-radius:5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.textoChat button{
  padding:15px;
  border:0;
  cursor:pointer;
  border-radius:10px;
  background-color: rgb(87, 184, 67);
  margin:5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.textoChat button:hover{
  background-color: rgb(65, 122, 54);
}

#you{
  background-color: rgb(201, 187, 107) !important;
}

#other{
  background-color: rgb(37, 101, 117) !important;
}